html,
body {
  min-width: 450px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #333;
}
body {
  line-height: 1rem;
}
#container {
  min-height: 100%;
  position: relative;
}
#header {
}
#body {
  padding-bottom: 50px; /* Height of the footer */
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 5px;
  /* height: 50px;  Height of the footer */
}
